NET "clk"    LOC="P15" | PERIOD=280 ns;
NET "a<0>"   LOC="P59";
NET "a<1>"   LOC="P58";
NET "a<2>"   LOC="P57";
NET "a<3>"   LOC="P56";
NET "a<4>"   LOC="P52";
NET "a<5>"   LOC="P51";
NET "a<6>"   LOC="P50";
NET "a<7>"   LOC="P49";
NET "d<0>"   LOC="P1";
NET "d<1>"   LOC="P4";
NET "d<2>"   LOC="P6";
NET "d<3>"   LOC="P48";
NET "d<4>"   LOC="P47";
NET "d<5>"   LOC="P46";
NET "d<6>"   LOC="P45";
NET "d<7>"   LOC="P44";
NET "iorq_n" LOC="P33";
NET "busdir" LOC="P13";
